{% extends "layout.html" %}
{% block body %}

{% for chart, value in masterDic.items() %}
<div class ="col-lg-4 col-md-6 col-sm-12">
    <div id="{{chart|safe}}"></div>
    <div class="table-responsive text-center">
        <table class="table">
            <thead>
            <tr>
                <td>Stocks Owned:</td>
                <td>Current Profit:</td>
                <td>Current Value:</td>
                <td>Total Purchase Cost:</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> {{ value['performance']['boughtamount'] }}</td>
                {% if value['performance']['currentProfit'] <=0 %}
                    <td class = "loss">$ {{ value['performance']['currentProfit'] }}</td>
                {% else %}
                    <td class = "profit">$ {{ value['performance']['currentProfit'] }}</td>
                {% endif %}
                <td>$ {{ value['performance']['currentValue'] }}</td>
                <td>$ {{ value['performance']['totalPurchaseCost'] }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive text-center">
        <table class="table">
            {% for metric, metricValue in value['stockmetrics'].items() %}
            <tr>
                <th> {{ metric }} </th>
                <td> {{ metricValue }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        new Highcharts.StockChart({{value['highChartsDic']|safe}});
    </script>
</div>
{% endfor %}

{% endblock %}