{% extends "layout.html" %}
{% block body %}


{% for key, value in chart.items() %}
<div class ="col-lg-4 col-md-6 col-s-12">
    <div id="{{key|safe}}"></div>
    <div class="table-responsive">
        <table class="table">
            {% for metric, metricValue in value['textdata'].items() %}
            <tr>
                <th> {{ metric }} </th>
                <td> {{ metricValue }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        new Highcharts.Chart({{value['content']|safe}});
    </script>
</div>

{% endfor %}

{% endblock %}