{% extends "layout.html" %}
{% block body %}

<style>
    th{text-align:center}
</style>
{% for chart, value in masterDic.items() %}
<div class ="col-lg-4 col-md-6 col-s-12">
    <div id="{{chart|safe}}"></div>
    <div class="table-responsive text-center">
        <table class="table">
            {% for metric, metricValue in value['textdata'].items() %}
            <tr>
                <th> {{ metric }} </th>
                <td> {{ metricValue }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        new Highcharts.StockChart({{value['content']|safe}});
    </script>
</div>
{% endfor %}

{% endblock %}